@font-face {
    font-family: "Raleway";
    src: url('fonts_Raleway/Raleway-Regular.ttf');
}

    @font-face {
        font-family: "Raleway Medium";
        src: url('fonts_Raleway/Raleway-Medium.ttf');
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    display: grid;
    grid-template-columns:5% 70% 7% 10% 9%;
}

.logo {
    margin-top: 31;
    width: 66px;
    height: 66px;
}

.navItem {
    font-family: "Raleway";
    font-size: 20px;
    text-decoration: none;
    color: #1E1E1E;
}

.topImg {
    width:1400px;
    height:479px;
}

.lang {
    display:flex;
    justify-content: flex-end;
    margin-top:1%;
    margin-right: 3%;
    font-family: Raleway;
    font-size: 16px;
}

main {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.sectionImg {
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
    border-radius: 30%;
}

.Ornament {
    margin-left: 43%;
}

.Title {
    margin-top: 1%;
    display:flex;
    justify-content:center;
    font-family: Raleway Medium;
    font-size: 28px;
}

.Text {
    margin-top: 20px;
    font-family: Raleway;
    font-size: 17px;
}

p {
    text-indent: 20px;
}

.grid {
    margin-top: 4%;
    margin-bottom: 4%;
    display:flex;
    align-items: center;
}

.admin{
    margin-top: 4%;
    margin-bottom: 4%;
    display: grid;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

#rus{
    display: block;
}

#en {
    display: none;
}

#tat {
    display: none;
}

.Together {
    display:flex;
    justify-content: center;
    width:109%;
    height:35%;
    margin-left: -5%;
} 

.girls{
    display:flex;
    justify-content: center;
    width:109%;
    height:35%; 
    margin-left: -5%;
    margin-top: 1%;
}

@media (orientation: portrait) {
    .Ornament{
        margin-left: 30%;

    }

    .Together{
        width:485px;
        height:220px;
    }

    .navItem{
        font-size: 11px;
    }

    header{
        grid-template-columns:20% 45% 13% 12% 12%;
    }

    .girls {
        width:485px;
        height:200px;
    }
}
